* {
    margin: 0;
}

body {
    background-color: #172B4D;
    color: #F4F5F7;
}

header {
    background-color: #5E72E4;
}

.createTodoBtn {
    background-color: #F5365C;
    color: #F4F5F7;
    border-radius: 25px;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: bold;
}

footer {
    padding: 25px;
    color: #F4F5F7;
}

section {
    min-height: 60vh;
}

.submitBtn {
    background-color: #2DCE89;
    color: #F4F5F7;
    border-radius: 25px;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: bold;
}

.createForm {
    width: 50%;
}

@media only screen and (max-width: 1024px){
    .createForm {
        width: 80%;
    }
}